**DS4A CAPSTONE PROJECT: DATA INGESTION AND CLEANING**

Team #37 | Chiugo Ezekwem, Jasmin Alvarez, John Tsirigotis, Melanie Dakwa, Nelson Adeniji and Ryan Roberts

In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('./Team Project/Data/food_access_research_atlas.csv')

In [12]:
# Only keep Louisiana data
df_la = df[df['State']=="Louisiana"]

In [17]:
'''
How are we defining food desert?
-1 mi for Urban & 10 for Rural (LILATracts_1And10) OR
-0.5 mi for Urban & 10 for Rural (LILATracts_halfAnd10) OR
-1 mi for Urban & 20 for Rural (LILATracts_1And20)
'''

keeplist = ["CensusTract","State","County","Urban","POP2010",\
            "OHU2010","GroupQuartersFlag","NUMGQTRS","PCTGQTRS","LILATracts_1And10",\
            "LILATracts_halfAnd10","LILATracts_1And20","LILATracts_Vehicle","HUNVFlag",\
            "LowIncomeTracts","PovertyRate","MedianFamilyIncome","TractLOWI","TractKids",\
            "TractSeniors","TractWhite","TractBlack","TractAsian","TractNHOPI","TractAIAN",\
            "TractOMultir","TractHispanic","TractHUNV","TractSNAP"]

df_la = df_la[keeplist]

In [19]:
df_la.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1143 entries, 28228 to 29370
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CensusTract           1143 non-null   int64
 1   State                 1143 non-null   object
 2   County                1143 non-null   object
 3   Urban                 1143 non-null   int64
 4   POP2010               1143 non-null   int64
 5   OHU2010               1143 non-null   int64
 6   GroupQuartersFlag     1143 non-null   int64
 7   NUMGQTRS              1143 non-null   int64
 8   PCTGQTRS              1143 non-null   float64
 9   LILATracts_1And10     1143 non-null   int64
 10  LILATracts_halfAnd10  1143 non-null   int64
 11  LILATracts_1And20     1143 non-null   int64
 12  LILATracts_Vehicle    1143 non-null   int64
 13  HUNVFlag              1143 non-null   int64
 14  LowIncomeTracts       1143 non-null   int64
 15  PovertyRate           1143 non-null   float64
 16  MedianFamilyIncome    1143 non-null   int64
 17  TractLOWI             1143 non-null   int64
 18  TractKids             1143 non-null   int64
 19  TractSeniors          1143 non-null   int64
 20  TractWhite            1143 non-null   int64
 21  TractBlack            1143 non-null   int64
 22  TractAsian            1143 non-null   int64
 23  TractNHOPI            1143 non-null   int64
 24  TractAIAN             1143 non-null   int64
 25  TractOMultir          1143 non-null   int64
 26  TractHispanic         1143 non-null   int64
 27  TractHUNV             1143 non-null   int64
 28  TractSNAP             1143 non-null   int64
dtypes: float64(2), int64(25), object(2)
memory usage: 267.9+ KB

In [20]:
df_la.to_csv('df_clean.csv',index=False)